#layout.pure-g
  .content.pure-u-1
    %section.home.pure-u-1
      .sidebar.pure-u-1.pure-u-lg-1-4
        .header
          %h2.brand-avatar
            %img.post-avatar{:alt => "Avatar", :src => "https://vignette2.wikia.nocookie.net/onepiece/images/6/61/Estatua_de_cera_de_Luffy.png/revision/latest?cb=20121231203632&path-prefix=es"}
          %h2.brand-tagline About Me
          .text
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .presentation.pure-u-1.pure-u-lg-3-4
        %div
          %h1.brand-title.pure-u-1
            Moises Torres
          %h2.brand-tagline
            Backend Developer
    %section.skills.pure-u-1
      %div.pure-u-1.title-container
        %h2.brand-tagline
          Professional Skills
        .quote.pure-u-1
          %q There are no secrets to success. It is the result of preparation, hard work, and learning from failure.
          %span -Colin Powell
      .skill-list.pure-u-1
        .skills-left.pure-u-1.pure-u-lg-1-2
          %ul.skill-description.pure-u-1
            %li.skill.pure-u-1
              %h4.skill-name.pure-u-1-4
                HTML5
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
            %li.skill.pure-u-1
              %h4.skill-name.pure-u-1-4
                RUBY
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
            %li.skill.pure-u-1
              %h4.skill-name.pure-u-1-4
                HAML
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
            %li.skill.pure-u-1
              %h4.skill-name.pure-u-1-4
                JASMINE
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
            %li.skill.pure-u-1
              %h4.skill-name.pure-u-1-4
                CAPYBARA
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
            %li.skill.pure-u-1
              %h4.skill-name.pure-u-1-4
                WEBPACK
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
        .skills-right.pure-u-1.pure-u-lg-1-2
          %ul.skill-description.pure-u-1
            %li.skill.pure-u-1
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %h4.skill-name.pure-u-1-4
                RAILS
            %li.skill.pure-u-1
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %h4.skill-name.pure-u-1-4
                JS
            %li.skill.pure-u-1
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %h4.skill-name.pure-u-1-4
                JQUERY
            %li.skill.pure-u-1
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %h4.skill-name.pure-u-1-4
                REACT
            %li.skill.pure-u-1
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %h4.skill-name.pure-u-1-4
                CSS
            %li.skill.pure-u-1
              .skill-level.pure-u-3-4
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %h4.skill-name.pure-u-1-4
                ANGULAR
        %ul.skills-map.pure-u-1
          %li.map
            %i.fa.fa-star
            %span Beginner
          %li.map
            %i.fa.fa-star
            %i.fa.fa-star
            %span Decent
          %li.map
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %span Good
          %li.map
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %span Advanced
          %li.map
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %span Expert
    %section.experience
      .title-container.pure-u-1
        %h2.brand-tagline
          Work Experience
      .work-list.pure-u-1
        .work.left.pure-u-1.pure-u-lg-7-24
          %header
            %h4.work-name
              DailyDrip
          .job-description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .work.center.pure-u-1.pure-u-lg-7-24
          %header
            %h4.work-name
              DailyDrip
          .job-description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .work.right.pure-u-1.pure-u-lg-7-24
          %header
            %h4.work-name
              DailyDrip
          .job-description
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %section.contact
      = form_tag '#', autocomplete: "off", id: "contact-form", class: "pure-form pure-u-1 pure-u-lg-1-2" do
        %h2.pure-u-1.brand-tagline
          Contact
        .pure-u-1.fields
          %dl.inline
            = label_tag(:name, :name , :class => 'pure-u-1 pure-u-lg-1-4 contact-label')
            = text_field_tag "name:", params[:name], autocomplete: "off", tabindex: '1', :class => 'pure-u-1 pure-u-lg-3-4 contact-input'
          %dl.inline.contact-email
            = label_tag(:email, :email, :class => 'pure-u-1 pure-u-lg-1-4 contact-label')
            = text_field_tag "email:", params[:email], autocomplete: "off", tabindex: '2', :class => 'pure-u-1 pure-u-lg-3-4 contact-input'
          %dl.inline.contact-email
            = label_tag(:message, :message, :class => 'pure-u-1 pure-u-lg-1-4 contact-label')
            = text_area_tag "message:", params[:message], autocomplete: "off", tabindex: '2', :class => 'pure-u-1 pure-u-lg-3-4 contact-area'
          %dl.inline.contact-email
            .pure-u-1-4
            = submit_tag "submit", class: "pure-button contact-button pure-u-1 pure-u-lg-3-4"
        .footer
          .pure-menu.pure-menu-horizontal
            %ul
              %li.pure-menu-item
                %a.pure-menu-link{target: "_blank", :href => "#"} Home
              %li.pure-menu-item
                %a.pure-menu-link{target: "_blank", :href => ""} Twitter
              %li.pure-menu-item
                %a.pure-menu-link{target: "_blank", :href => ""} GitHub
      .decoration-icons.pure-u-1.pure-u-lg-1-2
        .envelope
          %i.fa.fa-envelope
        .mobile
          %i.fa.fa-mobile